a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

.hide {
    display: none;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-92px);
    width: 50%;
    text-align: center;
}

.search-button {
    color: #5F6368;
    background-color: #f5f5f5;
    border-style: none;
    padding: 16px;
    margin: 0 5%;
    margin-top: 10px;
    border-radius: 4px;
}

.search-button:hover {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    border-color: black;
    color: black;
}

#searchbar {
    border-radius: 32px;
    width: 75%;
    height: 32px;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    position: relative;
    margin: 0 auto;
}

#searchbar input {
    font-size: 16px;
    width: 95%;
    height: 90%;
    border: none;
}

#searchbar:hover {
    box-shadow: 0px 0px 4px 2px #c5c5c5;
}

#searchbar input:focus {
    outline: none;
}

#searchbar img {
    position: absolute;
    height: 24px;
    width: 24px;
    right: 8px;
    top: 4px;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 16px 16px;
    font-size: 13px;
    color: #5a5a5a;
}

#header a {
    color: #5a5a5a;
    margin: 32px 8px;
}

#footer {
    color: #5a5a5a;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(242, 242, 242);
    border-top-style: solid;
    border-color: #e2dbdb;
    border-width: 1px;
    padding: 8px 32px;
    font-size: 13px;
}

#footer a {
    color: #5a5a5a;
    display: inline-block;
    margin: 4px 0px;
    padding: 0px 16px;
}

.float-right {
    float: right;
}

